.instrument-image {
  img {
  height: 200px;
  width: auto;
  }
  margin: 20px;
}

.heading {
  display:flex;
  align-items: center;
  flex-direction: column;

}

.show-links {
  display:flex;
  justify-content: center;
  margin-bottom: 10px;
}

.btn {
  margin: 2px;
}
