<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4))>
  <%= image_tag "instrument-stall.jpeg", alt: "Musical Emporium" %>
  <div class="container">
    <h1>Thank you for your booking!</h1>
  </div>
</div>

