
<div class=container>
  <h1>Make a booking></h1>
    <br>
    <%= simple_form_for [@instrument, @booking] do |f| %>
      <%= f.input :start_date %>
      <%= f.input :end_date %>
      <%= f.submit 'Book this instrument', class: "btn btn-primary"%>
    <% end %>
</div>
