<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),
   rgba(0,0,0,0.3)), url(<%= asset_path('guitar_lesson.jpg') %>)">

  <div class=container>
    <h1>Musical Emporium</h1>
      <h4>Learn, play, rehearse, perform. Whatever your musical inclination, find your instrument here</h4>
        <hr>
       <%= form_tag instruments_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find an instrument"
        %>
        <br>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
  </div>
</div>
