<h1>Musical Emporium</h1>
<h4>Learn, play, rehearse, perform. Whatever your musical inclination, find your hire instruments here</h4>

<p>Find me in app/views/pages/home.html.erb</p>

<%= link_to 'Search', instruments_path, class: "btn btn-primary" %>
