
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%=image_path('instrument-stall.jpeg')%>);">
<!-- <div class="banner" style="background-image:  linear-gradient(rgba(0,1,0,0.4),rgba(0,0,0,0.4))"> -->
  <!-- <#%= image_tag "/assets/images/instrument-stall.jpeg", alt: "Musical Emporium" %> -->
  <div class="container">
    <h1 id="main-heading">Musical Emporium</h1>
    <p>Learn, play, rehearse, perform. Whatever your musical inclination, find your instrument here</p>

     <%= form_tag instruments_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control", id: "home-search",
        placeholder: "Find an instrument"

      %>
      <%= submit_tag "Search", class: "btn btn-basic" %>
    <% end %>
  </div>
</div>



