<h1>Musical Emporium</h1>
<h4>Learn, play, rehearse, perform. Whatever your musical inclination, find your instrument here</h4>

 <%= form_tag instruments_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find an instrument"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
