.banner {
  background-size: cover;
  background-position: center;
  padding: 450px 0;
}

.banner h1 {
  color: white;
  font-size: 50px;
}

.banner h4 {
  color: white;
  opacity: .7;
  font-size: 20px;
}
