.card-product {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 32px;
  width: 200px;
  flex-wrap: wrap;

  // .img-frame {
  //   max-height: 200px;
  // }

  .img-frame {
    display: flex;
    align-items: center;


  }

  img {
    height: 150px;
    width: 100%;
    object-fit: cover;
  }

  h4 {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    margin: 0;
  }

  p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }
}

.card-forms {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 32px;
  padding: 32px;
  flex-wrap: wrap;

  h2 {
    color: #03256C
  }

}


.card-profile {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-profile img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-profile h2 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.card-profile p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-profile .card-profile-infos {
  padding: 16px;
  margin: 8px;
}


