.card-product {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 32px;
  width: 200px;
  flex-wrap: wrap;

  // .img-frame {
  //   max-height: 200px;
  // }

  .img-frame {
    display: flex;
    align-items: center;


  }

  img {
    height: 150px;
    width: 100%;
    object-fit: cover;
  }

  h4 {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 16px;
  }

  p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 8px;
    margin-top: 8px;
  }
}

.card-forms {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 32px;
  padding: 32px;
  flex-wrap: wrap;

  h2 {
    color: #03256C
  }

}


.card-basic {
  overflow: hidden;
  height: 200px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px;


  img {
    height: 100%;
    width: 200px;
    object-fit: cover;
  }

  h4 {
    font-size: 14px;
    font-weight: bold;
    // margin: 12px;
  }

  p {
    font-size: 14px;
    line-height: 1.4;
    opacity: .7;
    margin: 0 10px 4px 0;
  }

  .card-basic-infos {
    padding: 16px;
    margin: 8px;
    // padding: 15px;
  }
}

#card-holder {
  border-radius: 12px;
  text-align: center;
  margin: 16px;
  background-color: black;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  h2 {
    color: white;
    padding-top: 24px;
  }
}
