.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
  color: rgba(0,0,0,0.8);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 100%;
}
.footer-links a {
  color: #150E56;
  opacity: 0.3;
  text-decoration: none;
  font-size: 32px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}



