.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
  display: flex;
  align-content: center;
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  margin-bottom: 20px
}
