<!-- <h1>show list of guitars etc</h1> -->

<h2><%= @instruments.first.instrument_type %></h2>

    <p class="instrument_type"><% @instruments.each do |instrument| %>
    <% instrument_name = instrument.make + " " + instrument.model_name %>

      <div class="list-item"><%= link_to "#{instrument_name}", instrument_path(instrument) %></div>
      <% end %>

    </p>
