<div class="container">
  <h1 class="individual_instument"><%= @instrument.make @instrument.model_name %></h1>
  <ul>
    <% @instruments.each do |instrument| %>
    <div class="instrument-container">
      <div class="instrument-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= instrument.image_url %>)">
        <% end %>
      </div>
    </div>
    <% end %>
  </ul>

<%= link_to "Back to #{instruments.instrument_type} index", instruments_path %>
<%= link_to "Hire instrument", new_instrument_booking_path %>

</div>
